@import '../../../../styles/utils/mixins';

.missed-board {

  @include medium {
    padding-left: 15px;
  }

  &__title {
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__letter {
    font-size: 46px;
    color: #4d69fa;
    text-transform: uppercase;
    margin-right: 5px;
  }
}
